@import "compass/reset";

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0 0 44px;
	font-family: Patrick Hand, sans-serif;
	font-size: 16px;
	background: url("../img/bg.jpg");
}

h1 {
	font-size: 3em;
}

.container {
	max-width: 600px;
	margin: 40px auto;
}

.messages-wrapper {
	min-height: 400px;
	background: white;
	border: 2px solid #ccc;
	border-radius: 6px;
}

/* Send a message input box */
.input {
	margin-top: 1em;
	margin-top: 16px;
	}
	
input[type="text"] {
	margin: 0;
	padding: 11px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input[type="text"]:focus {
	outline: 0;
	background-color: hotpink;
	color: white;
}

input.name {
	width: 150px;
	margin-right: 8px;
}
input.text {
	width: 437px;
}

/* Messages list */
.messages {
	margin: 0;
	padding: 0;
	height: 450px;
	overflow: auto;
}
.messages li {
	list-style: none;
	padding: 9px 14px;
	line-height: 1.4;
	border-bottom: 1px dotted #ccc;
	font-weight: 500;
}

.messages li:last-child {
	border-bottom: 0;
}

[class^="user-"] {
	display: inline-block;
}

.user-name {
	color: dimgrey;
	margin-right: 16px;
	margin-right: 1em;
	font-size:  1.2em;
}

.user-name:after {
	color: #000;
	content: ":";
}

.user-message {
	max-width: 100%;
	overflow: hidden;
	font-size: 1.2em;
}

.red {
	color: red;
}
.orange {
	color: orange;
}
.yellow {
	color: yellow;
}
.green {
	color: green;
}
.blue {
	color: blue;
}
.pink {
	color: hotpink;
}
.purple {
	color: blueviolet;
}